// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

.square
  border-radius: 0!important

.noselect
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
